<header class="header" id="header">
	<div class="header-brand" id="header-brand">
		{{ page.branding }}
	</div>
	<div class="header-nav" id="header-nav">
		{{ page.navigation }}
		{{ page.user_management }}
	</div>
</header>

<main class="content" id="content">
	{{ page.content }}
</main>

<footer class="footer" id="footer">
	{{ page.footer }}
</footer>
